# 1.python基础试题

1.1 python 中boolean、float 和 int 分别表示什么？

boolean布尔值
float浮点型数据类型
int整型

1.2  设计求1-2+3-4+5 ... 99的所有数的和

In [1]:
start = 1
sum = 0
while start <100:
    temp = start % 2
    if temp ==1:
        sum = sum + start
    else:
        sum = sum - start
    start += 1
print(sum)

50

1.3  将字符串 s="yoyo" 转换成列表

In [2]:
str = 'yoyo'
list(str)

['y', 'o', 'y', 'o']

# 2. python进阶基础试题

2.1     for i in range(1,100)[2::3][-10:]: 

                print i 
                
        理解这段代码，并说出它是如何取数的

打印数字1到99中从第二位开始间隔为3的数中的倒数十位数字

In [3]:
 for i in range(1,100)[2::3][-10:]:

            print (i)

72
75
78
81
84
87
90
93
96
99

2.2 使用init 实例化时自动运行  分别计算单只股票最高价和收盘价两个时间点差值问题,可统一为one、two两个时间点,其最高价和收盘价赋值为 one(15,7) two(66,20)

In [4]:
one=(15,7)
two=(66,20)
print({'one_dif':one[0]-one[1]})
print({'two_dif':two[0]-two[1]})

{'one_dif': 8}
{'two_dif': 46}

# 3. pandas数据处理试题

3.1 如何查看列名、怎么对数据转置

In [5]:
#查看列名
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
print(df)
print(df.columns)

          a         b         c         d
0 -0.718841  0.016775  0.770140 -0.892404
1 -0.255825 -0.079161  1.842304 -0.361059
2 -0.578036  0.715592  0.512535 -0.353228
3  1.534013 -1.775989  1.346396 -0.558443
4  1.222930  0.831865  0.472843 -0.122348
Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
#数据转置
df.transpose()

          0         1         2         3         4
a -0.718841 -0.255825 -0.578036  1.534013  1.222930
b  0.016775 -0.079161  0.715592 -1.775989  0.831865
c  0.770140  1.842304  0.512535  1.346396  0.472843
d -0.892404 -0.361059 -0.353228 -0.558443 -0.122348

3.2 读取data里的600029这只股票的DataFrame,将其收盘价转换成用Numpy的Array格式，并用talib计算10日EMA值，返回ndarray的最后五个值

In [7]:
import pandas as pd
import talib as ta

data =  pd.read_excel('sz50.xlsx',sheet_name=None, index_col='datetime')
EMA = ta.EMA(data['600029.XSHG'].close.values,10)
print(type(EMA))
print(EMA[-5:])

<class 'numpy.ndarray'>
[15.08227205 15.2564044  15.44433088 15.72172526 15.96322976]

3.3 读取sz50.xlsx的['600029.XSHG','600050.XSHG','601318.XSHG']的全数据做成Panel

In [8]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
import pandas as pd
import numpy as np
stock_data = {}
symbol = ['600029.XSHG','600050.XSHG','601318.XSHG']

for s in symbol:
    stock_list = pd.read_excel('sz50.xlsx', sheet_name=s, index_col='datetime')
    stock_data[s] = pd.DataFrame(stock_list,index=stock_list.index)
pn = pd.Panel(stock_data)
pn

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 215 (major_axis) x 5 (minor_axis)
Items axis: 600029.XSHG to 601318.XSHG
Major_axis axis: 2017-01-03 15:00:00 to 2017-11-20 15:00:00
Minor_axis axis: close to volume

3.4把Panel转成ndim为3的Numpy，然后用array的切片读取ndim为2的三只股票最近20天的收盘价

In [10]:
arr=np.array(pn)
print(arr.shape)
s_close=arr[:,-20:,0]
print(s_close)

(3, 215, 5)
[[ 13.85  13.82  13.83  14.11  14.25  14.39  15.1   15.15  15.22  14.97
   14.89  14.99  14.71  15.07  15.35  16.    16.04  16.29  16.97  17.05]
 [  8.53   8.56   8.62   8.88   9.25   9.24   9.43   9.25   9.02   9.15
    9.63   9.5    9.9    9.97   9.96   9.49   9.68   9.61   9.63   9.8 ]
 [134.83 134.56 137.5  143.18 143.48 144.15 143.61 143.65 144.35 143.36
  146.41 144.71 148.56 156.53 157.12 157.72 154.99 163.52 168.58 169.57]]

3.5 建立一个5*5的矩阵，值从0到24

In [11]:
np.array(range(0,25)).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])